 #form-table {
   width: 100%;
   border-collapse: collapse;
 }
 #form-table td {
   padding: 10px;
 }

.stars {
  width: 3px;
  font-size: 20px;
  font-style:bold;
  vertical-align: text-top;
  color: #F00;
}

.blank-text{
   font-size: 20px;
   text-align: center;
}

th a{
   color: #333;
}

th a:hover{
   text-decoration: none;
}

.right{
  float: right;
}

.right-text{
  text-align: right;
}

.search-form{
  width: 20%;
}

.center{
  text-align: center;
}

.title_ticket{
  font-size: 20px;
  font-style: bold;
}

.description_ticket{
  font-size: 14px;
  padding-left: 10px;
  padding-right:: 10px;
  padding-bottom:: 10px;
}
